input {
    width: 50%;
    height: 300px;
  }
  
  /* CSS */
  
  .resultsView {
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    background-color: lightblue;
    }
  
  .error {
    color: red;
  }